<div class="col-lg-4 col-lg-offset-4">
    <select class="form-control"
            ng-model="selectedPersonalTrainer"
            ng-options="pt as (pt.firstName + ' ' + pt.lastName) for pt in personalTrainers"
            ng-change="changeSelection()"
            >
        <option ng-if="!selectedPersonalTrainer" value="">--select personal trainer--</option>
    </select>
</div>
<br/>
<br/>
<br/>
<div ng-if="selectedPersonalTrainer">
    <button class="btn btn-default pull-right" ng-click="createNew()" data-toggle="modal" href="#editModal">
        Add Client
    </button>
    <table ng-table class="table table-bordered">
        <tr class="red" ng-repeat="client in clients">
            <td data-title="'First Name'">
                <span ng-if="!client.$edit">{{client.firstName}}</span>

                <div ng-if="client.$edit"><input class="form-control" type="text" ng-model="client.firstName"/></div>
            </td>
            <td data-title="'Last Name'" width="200">
                <span ng-if="!client.$edit">{{client.lastName}}</span>

                <div ng-if="client.$edit"><input class="form-control" type="text" ng-model="client.lastName"/></div>
            </td>
            <td data-title="'Actions'" width="120">
                <a ng-if="!client.$edit" href="" class="btn btn-default btn-xs"
                   ng-click="client.$edit = true;">Edit</a>
                <a ng-if="!client.$edit" href="" class="btn btn-default btn-xs"
                   ng-click="remove(client)">Remove</a>
                <a ng-if="client.$edit" href="" class="btn btn-primary btn-xs"
                   ng-click="client.$edit = false;save(client)">Save</a>
            </td>
        </tr>
    </table>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Create new client</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-5 pull-left">First Name:</label>

                <div class="col-xs-7">
                    <input type="text" class="form-control" placeholder="first name" ng-model="client.firstName"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-5 pull-left">Last Name:</label>

                <div class="col-xs-7">
                    <input type="text" class="form-control" placeholder="last name" ng-model="client.lastName"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="create()">Create</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>